@model URLHasher.Models.URL

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<div>
    <h4>URL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Short)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Short)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            <span>Views</span>
        </dt>
        <dd>
            <h6>@ViewBag.Clicks</h6>
        </dd>
        <dd>
            @if (ViewBag.isUpvoted)
            {
                <h4>Your vote has been counted!</h4>
            }
            else if (ViewBag.Owner == Model.Owner.Id)
            {
                <h4>Your link!</h4>            
            }
            else
            {
                using (Html.BeginForm())
                {
                    <input type="submit" value="Upvote" class="btn btn-warning" />
                }
            }

        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
